<!DOCTYPE html>
<html>
<head>
  <title>Rachel Prisock</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'base/headers' %>
  <link rel="stylesheet" type="text/css" href="application.css.sass">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body class="container" style="background-color: #3B3A36;">

<header>
    <div id="circle-container" style="color: white;">
      <p> Logo </p>
    </div>
</header>
  	
<%= yield %>

<footer class="container">
    <nav class="text-center" style="font-size: 2em; padding: 20px;">
      <a style="padding: 10px;" href="http://linkedin.com/in/rachelprisock"><i class="fa fa-linkedin-square"></i></a>
      <a style="padding: 10px;" href="https://github.com/rachelprisock"><i class="fa fa-github-square"></i></a>
      <a style="padding: 10px;" href="http://google.com"><i class="fa fa-envelope"></i></a>
    </nav>
</footer>

</body>
</html>