<!DOCTYPE html>
<html>
<head>
  <title>Portfolio App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,900italic|Amatic+SC' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<header class="container">
	<div class="container-fluid">
		<div class="row">
			<div class="text-center jumbotron" style="padding: 15px;">
				<h1 style="font-family: 'Playfair Display', serif; font-weight: 900;">Rachel Prisock</h1>
			</div>
		</div>
		<div class="row container-fluid">
			<nav class="col-md-12 nav navbar-default text-center jumbotron" style="padding: 5px; font-family: 'Playfair Display', serif; font-size: 2em; background-color: transparent;">
          <ul class="nav navbar-nav col-md-12" style="padding: 10px;">
          	<li class="col-md-4"><%= link_to 'Projects', projects_path %></li>
            <li class="col-md-4"><%= link_to 'About', about_path %></li>
            <li class="col-md-4"><%= link_to 'Resume', resume_path %></li>
          </ul>
	    </nav>
	  </div>
	</div>

  	
<%= yield %>

<footer class="container-fluid">
  <div class="container-fluid">
  	<div class="row">
	    <nav class="col-md-12 nav navbar-default text-center jumbotron" style="padding: 5px; font-family: 'Amatic SC', cursive; font-size: 2em;">
        <ul class="nav navbar-nav col-md-12">
          <li><a href="http://linkedin.com/in/rachelprisock"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a href="https://github.com/rachelprisock"><i class="fa fa-github-square"></i></a></li>
        </ul>
	    </nav>
    </div>
  </div>
</footer>

</body>
</html>